{{ form_start(form) }}
<div class="input-field col s12"></div>
    {{ form_widget(form) }}
    <button type="button" class="btn btn-secondary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
